.feedback {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 20px 20px 20px;
    background-color: $green;
    width:100%;
    height:49vw;
}

.text-container{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 100%;
}

.feedback-link {
    align-self: flex-end;
    text-decoration: underline;
    color: $white;
    padding-top: 10px;
}

.comment-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    width:100%;
    height: 100%;
    padding-top: 40px;

}

.first-comment {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    width:50%;
    height: 50%;
    border-right: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding-right: 1.5625vw;

}

.second-comment {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    width:50%;
    height: 50%;
    border-right: 0.15625vw solid rgba(255, 255, 255, 0.1);
    padding-right: 1.5625vw;
}

.third-comment {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    width:50%;
    height: 50%;
    padding-left: 1.5625vw;
    border-right: 0.15625vw solid transparent;

}

.forth-comment {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    width:50%;
    height: 50%;
    padding-left: 1.5625vw;
    border-right: 0.15625vw solid transparent;
}

.avatar-container{
    margin-right: 20px;
    min-width: 80px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: url("/www/media/avatar_background.svg");
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: calc(100% - 7.81vw);
    height: 100%;

}

.mark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
}


