.nav-block  {
    padding: 20px;
    background: $white;
    position: fixed;
    width: $menu-width-lg;
    height: 100%;
    @include column-flex-for-menu;

    &__logo {
        height: 60px;
        width: 121px;
        @include margin-padding-none;
        transition: 1s;
        

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    &__break-line-high {
        background-color: rgba(19, 18, 18, 0.1);
        height: 2px;
        border: none;
        margin: 20px 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__types-of-hunting {
        @include margin-padding-none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;   
    }

    &__break-line-medium {
        background-color: rgba(19, 18, 18, 0.1);
        height: 2px;
        border: none;
        margin: 20px 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__additional-references {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100px;
        width: 100%;
    }

    &__break-line-low {
        background-color: rgba(19, 18, 18, 0.1);
        height: 2px;
        border: none;
        margin: 20px 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__contacts {
        @include margin-padding-none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%; 
    }

    &__language-change {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @include standart-margin-top;
        
    }
    &__adress {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:space-between;
        width: 100%;
        margin-top: 30px;
        height: 68px;
    }
    
}
