.nav-block  {
    padding: 20px;
    background: $white;
    position: fixed;
    width: $menu-width-lg;
    height: 100%;
    @include flex-column-start-start;

    &__logo {
        height: 60px;
        @include margin-padding-none;
        transition: 1s;
        cursor: pointer;
        align-self: center;
        
        &:hover {
            transform: scale(1.2);
        }
    }

    &_ul-menu {
        width: 100%;
    }

    &__break-line {
        background-color: rgba(19, 18, 18, 0.1);
        height: 2px;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        @include margin-top-bottom;
    }

    &__break-line-low {
        background-color: rgba(19, 18, 18, 0.1);
        height: 2px;
        border: none;
        margin: 20px 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__contacts {
        @include margin-padding-none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%; 
    }

    &__language-change {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        @include standart-margin-top;
        
    }
    &__adress {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:space-between;
        width: 100%;
        margin-top: 30px;
        height: 68px;
    }
    
}

.li-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}
