.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - #{$menu-width-lg});
    height: 100%;
    margin-left: $menu-width-lg;
}
