@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-SemiBoldItalic.eot');
  src: local('TT Interfaces SemiBold Italic'), local('TTInterfaces-SemiBoldItalic'),
      url('/src/fonts/TTInterfaces-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-SemiBoldItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-SemiBoldItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-MediumItalic.eot');
  src: local('TT Interfaces Medium Italic'), local('TTInterfaces-MediumItalic'),
      url('/src/fonts/TTInterfaces-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-MediumItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-MediumItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-BoldItalic.eot');
  src: local('TT Interfaces Bold Italic'), local('TTInterfaces-BoldItalic'),
      url('/src/fonts/TTInterfaces-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-BoldItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-BoldItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-Italic.eot');
  src: local('TT Interfaces Italic'), local('TTInterfaces-Italic'),
      url('/src/fonts/TTInterfaces-Italic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-Italic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-Italic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-SemiBold.eot');
  src: local('TT Interfaces SemiBold'), local('TTInterfaces-SemiBold'),
      url('/src/fonts/TTInterfaces-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-SemiBold.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-SemiBold.woff') format('woff'),
      url('/src/fonts/TTInterfaces-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-Medium.eot');
  src: local('TT Interfaces Medium'), local('TTInterfaces-Medium'),
      url('/src/fonts/TTInterfaces-Medium.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-Medium.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-Medium.woff') format('woff'),
      url('/src/fonts/TTInterfaces-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-ExtraBold.eot');
  src: local('TT Interfaces ExtraBold'), local('TTInterfaces-ExtraBold'),
      url('/src/fonts/TTInterfaces-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-ExtraBold.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-ExtraBold.woff') format('woff'),
      url('/src/fonts/TTInterfaces-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-BlackItalic.eot');
  src: local('TT Interfaces Black Italic'), local('TTInterfaces-BlackItalic'),
      url('/src/fonts/TTInterfaces-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-BlackItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-BlackItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-Bold.eot');
  src: local('TT Interfaces Bold'), local('TTInterfaces-Bold'),
      url('/src/fonts/TTInterfaces-Bold.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-Bold.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-Bold.woff') format('woff'),
      url('/src/fonts/TTInterfaces-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-Light.eot');
  src: local('TT Interfaces Light'), local('TTInterfaces-Light'),
      url('/src/fonts/TTInterfaces-Light.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-Light.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-Light.woff') format('woff'),
      url('/src/fonts/TTInterfaces-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-ExtraBoldItalic.eot');
  src: local('TT Interfaces ExtraBold Italic'), local('TTInterfaces-ExtraBoldItalic'),
      url('/src/fonts/TTInterfaces-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-ExtraBoldItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-ExtraBoldItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-Regular.eot');
  src: local('TT Interfaces Regular'), local('TTInterfaces-Regular'),
      url('/src/fonts/TTInterfaces-Regular.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-Regular.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-Regular.woff') format('woff'),
      url('/src/fonts/TTInterfaces-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-Black.eot');
  src: local('TT Interfaces Black'), local('TTInterfaces-Black'),
      url('/src/fonts/TTInterfaces-Black.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-Black.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-Black.woff') format('woff'),
      url('/src/fonts/TTInterfaces-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-ThinItalic.eot');
  src: local('TT Interfaces Thin Italic'), local('TTInterfaces-ThinItalic'),
      url('/src/fonts/TTInterfaces-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-ThinItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-ThinItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-LightItalic.eot');
  src: local('TT Interfaces Light Italic'), local('TTInterfaces-LightItalic'),
      url('/src/fonts/TTInterfaces-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-LightItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-LightItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-ExtraLightItalic.eot');
  src: local('TT Interfaces ExtLt Ita'), local('TTInterfaces-ExtraLightItalic'),
      url('/src/fonts/TTInterfaces-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-ExtraLightItalic.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-ExtraLightItalic.woff') format('woff'),
      url('/src/fonts/TTInterfaces-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-Thin.eot');
  src: local('TT Interfaces Thin'), local('TTInterfaces-Thin'),
      url('/src/fonts/TTInterfaces-Thin.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-Thin.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-Thin.woff') format('woff'),
      url('/src/fonts/TTInterfaces-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('/src/fonts/TTInterfaces-ExtraLight.eot');
  src: local('TT Interfaces Extra Light'), local('TTInterfaces-ExtraLight'),
      url('/src/fonts/TTInterfaces-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('/src/fonts/TTInterfaces-ExtraLight.woff2') format('woff2'),
      url('/src/fonts/TTInterfaces-ExtraLight.woff') format('woff'),
      url('/src/fonts/TTInterfaces-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-Light.eot');
    src: local('Akrobat Light'), local('Akrobat-Light'),
        url('/src/fonts/Akrobat-Light.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-Light.woff2') format('woff2'),
        url('/src/fonts/Akrobat-Light.woff') format('woff'),
        url('/src/fonts/Akrobat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-Regular.eot');
    src: local('Akrobat Regular'), local('Akrobat-Regular'),
        url('/src/fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-Regular.woff2') format('woff2'),
        url('/src/fonts/Akrobat-Regular.woff') format('woff'),
        url('/src/fonts/Akrobat-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-ExtraLight.eot');
    src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'),
        url('/src/fonts/Akrobat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-ExtraLight.woff2') format('woff2'),
        url('/src/fonts/Akrobat-ExtraLight.woff') format('woff'),
        url('/src/fonts/Akrobat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-SemiBold.eot');
    src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'),
        url('/src/fonts/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-SemiBold.woff2') format('woff2'),
        url('/src/fonts/Akrobat-SemiBold.woff') format('woff'),
        url('/src/fonts/Akrobat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-Thin.eot');
    src: local('Akrobat Thin'), local('Akrobat-Thin'),
        url('/src/fonts/Akrobat-Thin.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-Thin.woff2') format('woff2'),
        url('/src/fonts/Akrobat-Thin.woff') format('woff'),
        url('/src/fonts/Akrobat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-Bold.eot');
    src: local('Akrobat Bold'), local('Akrobat-Bold'),
        url('/src/fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-Bold.woff2') format('woff2'),
        url('/src/fonts/Akrobat-Bold.woff') format('woff'),
        url('/src/fonts/Akrobat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-Black.eot');
    src: local('Akrobat Black'), local('Akrobat-Black'),
        url('/src/fonts/Akrobat-Black.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-Black.woff2') format('woff2'),
        url('/src/fonts/Akrobat-Black.woff') format('woff'),
        url('/src/fonts/Akrobat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('/src/fonts/Akrobat-ExtraBold.eot');
    src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
        url('/src/fonts/Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Akrobat-ExtraBold.woff2') format('woff2'),
        url('/src/fonts/Akrobat-ExtraBold.woff') format('woff'),
        url('/src/fonts/Akrobat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}