@import './general-particles/header';
@import './general-particles/main-container';

body {
    display: block;
    margin: 0;
    padding: 0;
}


.text {
  
    &_type {
      &_h1 {
        font-family: Akrobat;
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 90%;
        text-transform: uppercase;
      }

      &_h2com {
        font-family: Akrobat;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 100%;
        text-transform: uppercase;
      }
  
      &_h2 {
        font-family: Akrobat;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
      }
   
      &_h3 {
        font-family: Akrobat;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
      }
  
      &_h4 {
        font-family: TT Interfaces;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
      }
      &_h5 {
        font-family: TT Interfaces;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16.8px;
        text-transform: unset;
      }
    }
  
    &_color {
      &_black {
        color: $black
      }
      &_white {
        color: $white;
      }
      &_snow-white {
        color: $snow-white;
      }
      &_green {
        color: $green;
      }
      &_transparent-black {
        color: $transparent-black;
      }
      &_transparent-white {
        color: $transparent-white;
      }
    }

    &_decoration {
      
      &_bold {
        font-weight: bold;
      }
    }
}

.link {
  cursor:pointer;

  &_language {
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid rgba(19, 18, 18, 0.1);
    cursor: pointer;

    &:hover {
      border: 2px solid $green;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.link-main-menu {
  width: 100%;

  &:hover {
    color:$green;
    cursor: pointer;
  }
}

.route-link{
  display: block;
  width: 100%;
  text-decoration: underline;
  color: $green;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.button {
  height: 60px;
  margin-top: 12px;
  align-items: center;

  &_color{

    &_green {
      background-color: $green;
    }

    &_white {
      background-color: $white;
    }
  }

  &_type {

    &_menu {
      width: 280px;
      border: 0;

      &:hover {
        background-color: $white;
        border: 2px solid $green;
      }
      &:hover .text {
        color: $green;
      }
    }
  
    &_promo {
      border: 2px 2px 2px 1px solid $white;
      width: 17vw;
      @include margin-padding-none;
      background-color: transparent;

      &:hover {
        border-color: $white;
        background-color: $white;
      }
      &:hover .text {
        color: $green;
      }
    }
    

    &_consult {
      border: 1px;
      border-color: $white;
      width: 100%;

      &:hover {
        background-color: $white;
        text-decoration: $green;
      }
    }
  }





  &:visited {
    background-color: rgba(36,157,106, 0.4);
  }


}


