@mixin flex-column-start-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
// This mixin used in .nav-block(general.scss)

@mixin margin-padding-none{
    margin: 0px;
    padding: 0px;
}

@mixin standart-margin-top {
    margin-top: 20px;
}

@mixin margin-top-bottom {
    margin-top:20px;
    margin-bottom: 20px;
}


