
// colors
$black: #131212;
$white: #F4F4F4;
$snow-white: #FFFFFF;
$green: #249D6A;
$transparent-black: rgba(19, 18, 18, 0.4);
$transparent-white: rgba(255, 255, 255, 0.4);


// fonts
$fontMain: Arial, sans-serif;


// media
$desktop-width: 1600px;
$tablet-width: 1024px;
$phone-width: 600px;

//menu width
$menu-width-lg: 320px;